body {
  background-image: url("https://sergiev.ru/media/images/9859/2020/dsc00695-1.jpg"); /*путь к изображению*/
  background-size: cover; /*изображение будет масштабироваться и заполнять всю область body*/
  background-attachment: fixed; /*фон будет зафиксирован и не будет скроллиться вместе со страницей*/
}
#chart {
  position: relative;
  width: 500px;
  height: 300px;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /*цвет фона с прозрачностью 50%*/
  z-index: 1; /*элемент будет находиться над остальными элементами*/
}

.bar {
  position: absolute;
  bottom: 0;
  width: 10%;
  background-color: black;
}

.bar:nth-child(1) {
  left: 25%;
}

.bar:nth-child(2) {
  left: 103%;
}

.bar:nth-child(3) {
  left: 180%;
}

.bar:nth-child(4) {
  left: 263%;
}

#labels {
  position: absolute;
  top: 50;
  left: 100px;
}

.label {
  display: inline-block;
  margin-right: 300px;
  color: white;
}

.card {
  position: relative; /* устанавливаем позиционирование как относительное */
  top: -725px; /* смещаем карточку на 50 пикселей вниз */
  left: 20px; /* смещаем карточку на 20 пикселей вправо */
  background-color: white;
}
.nard {
  position: relative;
  top: -1200px;
  left: 400px;
  background-color: white;
}

.accordion {
  background-color: rgb(22, 13, 13);
}

.cart {
  position: relative; /* устанавливаем позиционирование как относительное */
  top: -250px; /* смещаем карточку на 50 пикселей вниз */
  left: 800px; /* смещаем карточку на 20 пикселей вправо */
  background-color: white;
}

.bard {
  position: relative; /* устанавливаем позиционирование как относительное */
  top: 50px; /* смещаем карточку на 50 пикселей вниз */
  left: 1250px; /* смещаем карточку на 20 пикселей вправо */
  background-color: white;
}

.card-text {
  color: rgba(49, 84, 182, 0.384);
}

.nard-text {
  color: rgba(49, 84, 182, 0.384);
}

.bard-text {
  color: rgba(49, 84, 182, 0.384);
}

.cart-text {
  color: rgba(49, 84, 182, 0.384);
}
